.filmsContainer {
  width: 1200px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-size: 50px;
  font-weight: 800;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  color: #f8f9fa;
  text-transform: uppercase;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  font-size: 24px;
  letter-spacing: 1px;
  word-spacing: 2px;
}

.showMore {
  color: #adb5bd;
  transition: 0.3s;
}

.showMore:hover {
  cursor: pointer;
  color: #f8f9fa;
}

.rowTitle {
  color: #adb5bd;
}

.newSection {
  color: #f8f9fa;
  font-size: 36px;
}
