.header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 40px;
  color: #495057;
  font-size: 14px;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  color: #495057;
  font-size: 14px;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 900px;
}
