.wrapper {
  min-height: 100%;
  flex-direction: column;
  display: flex;
}

.header {
  text-align: center;
  color: #495057;
  flex: 0 0 auto;
  margin: 20px 0;
}

.footer {
  text-align: center;
  color: #495057;
  flex: 0 0 auto;
  margin: 20px 0;
}

.main {
  /* min-height: 100%; */
  flex-grow: 1;
  flex: 1 1 auto;
}

.loading {
  color: #f8f9fa;
}
